{% extends "_layout.html" %}
{% block main %}

<section class = "home">

  <div class = "home_body">
    <div class = "title">
      Home page
    </div>
    
    <form method="POST" action="">
      <div class="home_buttons">

        <a class = "div_button home_register" href="{{ url_for('users.register') }}">
          Register
        </a> 

        <a class = "div_button home_login" href="{{ url_for('users.login') }}">
          Login
        </a>

      </div>
    </form>
    
  </div>

</section>

{% endblock %}